* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: antiquewhite;
}
.header-link {
    color: rgb(65, 44, 11); 
    font-family:'Times New Roman', Times, serif;  
    font-size: 20px;
    font-style: normal;
    word-spacing: 15px;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px;

}

.nav {
    display: flex;
    justify-content:center;
}

.container  {
    width: 2579px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 70px;
}

.subtitle   {
    color: rgb(112, 84, 8);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%; /* 28.8*/
    text-decoration: none;
    padding: 20ph 40px;
    height: 30px; 
    margin-top: 20px;
    margin-left: 500px;
}

.title  {
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 465px;

}

.dsc {
    color: rgb(44, 17, 7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 5;
    line-height: 2;
    opacity: 0.7;
    margin-bottom: 25px;
    margin-left: 150px;
    margin-right: 150px;
} 

.main-link {
    color:brown;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 5px;
    background: color rgba(52, 26, 16, 0.59);
    padding: 1rem 2rem;
    margin-right: 20px;
    border: 3px solid transperent;
    transition: all 0.5s;
    margin-left: 180px;
    margin-bottom: 70px;

}

.fa-play    {
    margin-right: 10px;

}

.header-link:hover {
    color: rgb(151, 103, 69);
}

.main-link:hover {
    background-color: rgb(180, 128, 14);
    color:rgba(70, 31, 5, 0.832);
    border: 3px solid rgb(71, 31, 17)
}

.flex   {
    display: flex;
    justify-content: space-between;

}

.main-left, .main-right {
    width: 47%;
}

.main-right {
    display: flex;
    justify-content: end;
}

.main {
    margin-bottom: 200px;
}

.imagine {
    display: inline-block;
    width: 300px;
    height: 450px;
    margin-left: 100px;
    margin-right: 450px; 
    margin-top: 70px;
    margin-bottom: 100px;
    position: central;
    bottom: 60px;
    left: 30px;
}